@model IEnumerable<Backstage.Models.Language>

@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <link href="~/Asset/Css/table.css" rel="stylesheet" />
}

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row" style="display: inline-block;height:1381px">
        
        <button>@Html.ActionLink("Create New", "Create")</button>

        <table class="table">
            <tr class="header">
                <th>
                    Language
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="context">
                    <td>
                        @Html.DisplayFor(modelItem => item.Language_type)
                    </td>
                    <td>
                        <button>@Html.ActionLink("Edit", "Edit", new { id = item.Language_id })</button>
                        <button>@Html.ActionLink("Delete", "Delete", new { id = item.Language_id })</button
                        
                    </td>
                </tr>
            }

        </table>
    </div>
</div>