
@{
    ViewBag.Title = "Albums";
}
@section topCSS{
    <link href="~/Asset/Css/table.css" rel="stylesheet" />
}
<div class="right_col" role="main">
    <button>@Html.ActionLink("Create New", "Create")</button>
    <table class="table">

        <tr class="header">
            <th>
                Album_id
            </th>
            <th>
                Album_Name
            </th>
            <th>
                Company
            </th>
            <th>
                About
            </th>
            <th>
                Singer_id
            </th>
            <th>
                Datetime
            </th>
            <th>
                Price
            </th>
            <th>
                Pic
            </th>
            <th>
                Hits
            </th>
            <th>
                WeekHits
            </th>
            <th>
                MonthHits
            </th>
            <th></th>
        </tr>
        @Html.Partial("AlbumPartialView")
    </table>
</div>


